*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
#color{
    height: 2.5rem;
    width: 15rem;
    border-radius: 1rem;
    border: 10px solid #e2e2e2;
    padding: .2rem 1rem;
    font-size: 2rem;
    outline: none
}