* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linen;
}
.container {
  border-bottom: 3px solid #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.container:focus-within {
  border-bottom: 3px solid #006dc7;
}
.password {
  padding: 9px;
  border: 0;
  width: 300px;
  font-size: 20px;
}
.password:focus {
  outline: none;
}
span {
  float: right;
  background: #fff;
  cursor: pointer;
  padding: 6.6px;
}
.fas {
  padding: 4px;
  font-size: 20px;
}
